@import "compass";
@import "breakpoint";
@import "singularitygs";
@import "toolkit";
@import "grid";

html {
	font-size:16px;
}

.breadcrumb {
	background-color: transparent;
    border-radius: 0;
}

legend {
    width: inherit;
    padding: 0;
    font-size:13px;
    border: 0;
}

.label {
	padding:0px;
	font-size:100%;
	font-weight:100;
}

label {
	display:block;
}

button, input, optgroup, select, textarea {
	font-size:12px;
}

* {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}

*:before,
*:after {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}

.radio, .checkbox {
  display: table-cell;
}

.radio input[type="radio"], 
.radio-inline input[type="radio"], 
.checkbox input[type="checkbox"], 
.checkbox-inline input[type="checkbox"] {
  position: relative;
  margin: 0;
}

.carousel {
  max-width: 100%;
  max-height: 800px;
}
a.carousel-control:focus,
a.carousel-control.left,
a.carousel-control.right {
  background: none;
}

.carousel-control {
  opacity: .8;
  .control-left,
  .control-right {
    display: block;
    height:100%; 
    background-size: 50%;
    @include breakpoint ($desk) {
      background-size: auto;
    }
  }
  .control-right {
    background-image: url(../images/arrow-right.png);
    background-position: 50% center;
    background-repeat: no-repeat;
  }
  .control-left {
    background-image: url(../images/arrow-left.png);
    background-position: 50% center;
    background-repeat: no-repeat;
  }
}

.carousel-indicators {
  margin:0 0 0 -30% !important;
  padding:0px !important;
  bottom:.5em;
  li, li.active {
    border: 3px solid #fff;
    box-shadow: none;
    height:10px;
    width:10px;
    margin: 0 5px;
  }
}
.carousel-inner img {
  max-width:100%;
  width: 100%;
  height: auto;
  max-height: 800px;
}
.carousel-caption {
  font-family: Futura, Helvetica ,sans-serif;
  text-shadow: none;
  .caption-header {
    font-size: 48px;
    font-weight:bold;
    text-transform: uppercase;
    margin: 1em 0;
  }
  h2 {
    font-weight: bold;
    text-transform: uppercase;
    margin: 1em 0;
    a {
      font-size: 16px;
      border: 3px solid #fff;
      color: #fff;
      padding: 5px;
    }
  }
}

#myCarousel .views-row {
  //@include transition(left .5s ease-in-out);
}