@import "compass";
@import "breakpoint";
@import "singularitygs";
@import "toolkit";

html {
	font-size:16px;
}

.breadcrumb {
	background-color: transparent;
    border-radius: 0;
}

legend {
    width: inherit;
    padding: 0;
    font-size:13px;
    border: 0;
}

.label {
	padding:0px;
	font-size:100%;
	font-weight:100;
}

label {
	display:block;
}

button, input, optgroup, select, textarea {
	font-size:12px;
}

* {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}

*:before,
*:after {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}

.radio, .checkbox {
  display: table-cell;
}

.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
  position: relative;
  margin: 0;
}

.carousel-indicators {
  margin:0 0 0 -30% !important;
  padding:0px !important;
  bottom:.5em;
}